<!DOCTYPE html>
<html>
<head>
	<title>LoginApp</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              <li role="presentation"><a href="/">Dashboard</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">LoginApp</h3>
      </div>


      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>

      <footer class="footer">
        <p>&copy; 2015 LoginApp, Inc.</p>
      </footer>

    </div> <!-- /container -->

    

<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/hmac-sha1.js"></script>
<script>
// hides crypto div
$(document).ready(function(){
  $('#crypto').hide(0);  //or do it through css
  });

$('#prelogin').click(function(event) {
  // event.preventDefault(); // prevents page from refreshing

  let privateKey = "c5dcf5005ff89226887f8c841fce83a9"
  let seconds = Math.floor(new Date() / 1000)
  let uid = document.forms["myForm"]["username"].value //'abc@abc.com'
  let publicKey = "06f980e1e4442b60676610f2dfb54e6c"
  let ip = "127.0.0.1"

  let message = privateKey+seconds+uid+publicKey
  let signature = CryptoJS.HmacSHA1(message, privateKey).toString()

  $.ajax({
    type: "POST",
    url: 'http://cryptophoto.com/api/get/session',
    data: { 
      publickey: publicKey, 
      uid : uid, 
      time: seconds, 
      signature: signature,
      ip: ip,
      authentication: false
    } ,
    success: function (data) {
      $('#crypto').show()
      let parsedData = data.split(/\n/)
      

      // add sd script (only first time)

      if (parsedData[2] == "false") {
        let script = document.createElement('script')
        script.setAttribute('src', 'https://CryptoPhoto.com/api/token?sd=' + parsedData[1])
        document.head.appendChild(script)
      }
      // add tv script
      // let script2 = document.createElement('script')
      // script2.setAttribute('src', 'https://cryptophoto.com/api/tv?key=66551793516cc975d90c663fe85ecaca&sid=' + parsedData[1])
      // script2.setAttribute('async', 'true')
      // document.head.appendChild(script2)

      // add challenge script
      let script3 = document.createElement('script')
      script3.setAttribute('src', 'https://CryptoPhoto.com/api/challenge?sd=' + parsedData[1])
      document.head.appendChild(script3)

      console.log(data)


    }
  })
})
</script>
</body>
</html>

{{!--       // post verify request
      $.ajax({
        type: "POST",
        url: 'http://cryptophoto.com/api/verify',
        data: { 
          publickey: publicKey, 
          uid : uid, 
          time: seconds, 
          signature: signature
      } ,
      success: function (data) { 
        console.log(data)
      
      }}) --}}